# Application Settings
APP_NAME=Aury
APP_VERSION=1.0.0
DEBUG=True
ENVIRONMENT=development

# Server Settings
HOST=0.0.0.0
PORT=8000

# Database Settings
MONGODB_URL=mongodb://mongodb:27027
MONGODB_DB_NAME=mongo_db_name

# Telegram Settings
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_API_ID=your-telegram-api-id
TELEGRAM_API_HASH=your_api_hash_here
